@model WebApplication9.Models.EmployeeContext

@{
    ViewBag.Title = "DATA OF STUDENT";
}

<h2>GetData</h2>
<div>
    <table style="font-family:Arial">
        <tr><td><b>Employee id</b>:</td><td>@Model.EmployeeId</td></tr>
       
        <tr><td><b>Employee Name</b>:</td><td>@Model.Name</td></tr>
        <tr><td><b>Gender</b>:</td><td>@Model.Gender</td></tr>
    </table>
</div>


